
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label for="name">First Name: </label>
        <input type="text"   id="name" placeholder="enter the name" formControlName="fname" required />
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text"   id="name" placeholder="enter the name" formControlName="lname" required />
    </div>

    <div>

        <label for="email">Email: </label>
        <input type="email" id="email" placeholder="enter your email" formControlName="email" required />
    </div>

    <div>

        <label for="phone">Phone: </label>
        <input  id="phone"  appDemoformdir maxlength="10" placeholder="enter your number" formControlName="phone" required />
    </div>

    <div>
        <label for ="password">Password</label>
        <input type="password"  appPasswordDir formControlName="password" placeholder="enter your number"/>

        <br><br>



        <button >Submit</button>
    </div>

</form>

   
