body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {

  background: #ffffff;
  width: 500px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

div {
    display: flex;
  flex-direction: column;
  width: 50%;
  // height:100vh;
  
  

  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 4px rgba(25, 118, 210, 0.4);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0d47a1;
}

// -->


/* Parent container */
.layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding: 20px;
}

/* Left side (Form) */
.left {
  width: 35%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

/* Right side (Table) */
.right {
  width: 65%;
  overflow-x: auto;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #1e73be;
  color: white;
}



