<form [formGroup]="profileform">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" placeholder="enter the name" formControlName="name" required />
    </div>

    <div>

        <label for="email">Email: </label>
        <input type="email" id="email" placeholder="enter your email" formControlName="email" required />

    

    <button type="submit">Submit</button>
    



    <h1>hello everyone </h1>

    <h1>good to see you </h1>

    <button> confirm </button>

    <h1>Hello to  features</h1>
    <h1>Hi hello everyone  </h1>

    
  


