<form [formGroup]="profileform">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" placeholder="enter the name" formControlName="name" required />
    </div>


        <label for="email">Email: </label>
        <input type="email" id="email" placeholder="enter your email" formControlName="email" required />
    </div>
    <button>test</button>
    
    <button>dummy</button>
    
    <button>total</button>

    <button>main </button>

    <button>call </button>

     
    

</div>

<div>
    <button>project igi</button>
    
    <button>nfs most wanted</button>
    
    <button>gta</button>

    <button>call of duty </button>

    <button>super mario </button>
    

</div>

             <div>
    <button>test-1</button>
    
    <button>dummy-2</button>
    
    <button>total-3</button>

    <button>demo</button>

    <button>mainfunction</button>

    
    <button>fix</button>
             </div>
    

        <div>

        <label for="email">contact: </label>
        <input type="email" id="email" placeholder="enter your email" formControlName="email" required />
    </div>
    <div>

        <label for="email">securtiy: </label>
        <input type="email" id="email" placeholder="enter your email" formControlName="email" required />
    </div>
    <div>

        <label for="phone">purchase: </label>
        <input type="number" id="phone" placeholder="enter your number" formControlName="phone" required />
    </div>

    <div>

        <label for="phone">Phone: </label>
        <input type="number" id="phone" placeholder="enter your number" formControlName="phone" required />
    </div>
    <div>
        <label for ="password">Password</label>
        <input type="password"  appPasswordDir placeholder="enter your number"/>

    
    <button type="submit">Submit</button>
